BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: All
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakStringLiterals: true
ColumnLimit: 100
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 4
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
# SpaceBeforeCtorInitializerColon: true
# SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
# SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: Never
UseCRLF: true
RequiresClausePosition: WithPreceding

# --- Added/Updated for latest clang-format versions ---
# PackConstructorInitializers: false # Pack constructor initializers
# QualifierAlignment: Left # Alignment for const/volatile qualifiers
# EmptyLineBeforeAccessModifier: Never # Empty line before access specifiers
# SortJavaStaticImport: Before # Java static import sorting
# IndentAccessModifiers: false # Indent access modifiers
# ShortNamespaceLines: 1 # Short namespace formatting
# BitFieldColonSpacing: Both # Spacing around bit-field colons
# LambdaBodyIndentation: Signature # Indentation for lambda bodies
# RequiresExpressionIndentation: OuterScope # Indentation for requires expressions
# StatementAttributeLikeMacros: [] # Macros treated as statement attributes
# SpaceBeforeCaseColon: false # Space before colon in case labels
# SpaceBeforeCpp11BracedList: false # Space before C++11 braced list
# SpaceBeforeSquareBrackets: false # Space before square brackets
# SpaceBeforeTemplateKeyword: false # Space before template keyword
# SpaceInLineComment: false # Space after // in line comments
# SpacesInConditionalStatement: false # Space in conditional statements
# SpacesInLambdaDeclaration: false # Space in lambda declaration
# SpacesInSwitchStatement: false # Space in switch statement
# SpacesInTrailingComments: 1 # Spaces before trailing comments

